@font-face {
    font-family: Adobe-Garamond-Pro;
    src: url(fonts/Adobe-Garamond-Pro.ttf);
}

body{
  height: 100%;
  margin: 0;
}

/*Header section*/
/*____________________________________________________*/
.header ul{
    list-style-type: none;
    margin: 0px;
    padding: 20px;
    text-align: center;
  }
  .header a{
    /*background-color: #eee;  Grey background color */
    color: white; /* Black text color */
    /*display: block;  Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    font-family: 'Raleway';
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1em;
  }
  .header a:hover{
    color: #DECE7F;
  }
  .header li{
    display: inline-block;
    padding: 10px;
  }
  .header{
    background-color: #000006;
    min-height: 100%;
    height: 678px;
    width: 100%;
    /*color: #DECE7F;*/
    color: white;
    background-image: url("images/RB-HK-1-edited.png");
    background-repeat: no-repeat;
    background-size: 1617px 850px;
    background-position: 0px 0;
    image-rendering: -webkit-optimize-contrast;
  }

  .header a.active{
    color:#DECE7F; /* Add a green color to the "active/current" link */

  }
  #header_logo{
    font-size: 20px;
    color: #fff;
    line-height: 1.2em;
    font-weight: 600;
  }

  .header_Text{
    margin-left: 220px;
    margin-top: 164px;
    margin-right: 780px;
    margin-bottom: 225px;
    text-align: center;

  }

  .header_Text h3{
    font-family: Adobe-Garamond-Pro;
    font-weight: 400;
    font-size: normal;
    line-height: 1.4em;
    letter-spacing: .3em;
    text-transform:none;
    font-size: 18px;
    overflow: visible;
  }

  .header_Text h1{
    color: #e3d382;
    font-size: 74px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    line-height: .5em;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    letter-spacing: 0.1875em;
    font-weight: bolder;
  }

  /*follow_section*/
  /*____________________________________________________*/
  .follow{
    background-color: #FFFFFF;
    text-rendering:optimizeLegibility;
  }

  .followTopBanner h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-size: 43px;
    line-height: 1.1em;
    letter-spacing: .2em;
    color: #201713;
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left: 570px;
  }

  .followBannerLogo img{
    width: 40px;
    height: 35px;
    align-items: right;
  }
  .followBannerLogo{
    margin-top: 30px;
    margin-left: 380px;
  }

  .followTopBanner {
    display: inline-grid;
      grid-template-columns: auto auto auto;
  }

  /*about_section*/
  /*____________________________________________________*/
  .about{
    background-color: #F5F5F5;
    text-rendering:optimizeLegibility;
  }

  .aboutTopBanner h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-size: 43px;
    line-height: 1.1em;
    letter-spacing: .2em;
    color: #201713;
    margin-right: 175px;
  }

  /*about_section*/
  /*____________________________________________________*/
  .gallery{
    background-color: #FFFFFF;
    text-rendering:optimizeLegibility;
  }

  .galleryTopBanner h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-size: 43px;
    line-height: 1.1em;
    letter-spacing: .2em;
    color: #201713;
    margin-right: 115px;
  }

  /*sponsor_section*/
  /*____________________________________________________*/
  .sponsor{
    background-color: #FFFFFF;
    text-rendering:optimizeLegibility;
  }

  .sponsorTopBanner h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-size: 43px;
    line-height: 1.1em;
    letter-spacing: .2em;
    color: #201713;
    margin-right: 60px;
  }

  /*sponsor_section*/
  /*____________________________________________________*/
  .contact{
    background-color: #F5F5F5;
    text-rendering:optimizeLegibility;
  }

  .contactTopBanner h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-size: 43px;
    line-height: 1.1em;
    letter-spacing: .2em;
    color: #201713;
    margin-right: 20px;
  }
